<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food Ordering Pick Up - Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
        <div class="logo">
            <img src="logo.png" alt="Your Logo">
        </div>
        <!-- <div class="login-signup">
            <button class="login-signup-button" id="login">Log In</button>
            <button class="login-signup-button" id="signup">Sign Up</button>
        </div> ---->
    </nav>
</header>

<main class="container">
  <% if (message) { %>
  <span class="login-error message"><%= message %></span>
  <% } %>
  <h3>Login</h3>
      <form class="reset" method="POST" action="/login">
        <div class="form-group mb-2">
          <label for="email" class="form-label">Email</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="abc@example.com"
            style="width: 300px; margin-bottom: 1em;"
          />
        </div>

        <div class="form-group mb-2">
          <label for="password">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
            style="width: 300px; margin-bottom: 1em;"
          />
        </div>
        <button type="submit" class="btn btn-primary loginBtn">Login</button>
      </form>
</main>

<!-- Add your JavaScript code here, if needed -->

</body>

</html>
