body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

nav {
  height: 90px;
  background-color: #D9D9D9;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2;
}

.logo {
  margin-left: 20px;
  background: #EA9393;
  font-size: 16px;
  height: 60%;
  width: 15%;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
}

.login-signup{
  margin-right: 20px;
}

.login-signup-button{
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 16px;
  background: #EA9393;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.login-signup-button:hover {
  background: #3c72fa;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: center;
  // margin-top: 150px;
  /*width: 100%;
  height: 100%;*/
}
.menu-category {
  flex: 1 2 0;
  margin-top: 4.5rem;
  margin-left: 0.2em;
  border-right: 2px solid #23412c;
  border-bottom: 2px solid #23412c;
  padding: 0;
}

.menu-category h5 {
  margin-top: 0.5em;
}

.cat-item {
  font-size: medium;
  // margin-bottom: 1.2em;
  margin-right: 0.02rem;
  margin-top: 0;
}

.cat-item:hover {
  border-left: 3px solid rgb(58, 28, 20);
}

.row-container {
  display: flex;
  flex-direction: column;
  flex: 6 6 0;
  align-items: center;
  justify-content: center;
}

.register-login {
  text-decoration: none;
  color: #ffffff;
}

.row-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
  // height: 30vh;
}

a, a:hover {
  list-style-type: none;
  font-size: small;
  text-decoration: none;
  color: black
}

.row-main .row {
  transition: all .2s ease-in-out;
}
.row-main .row:hover {
  transform: scale(1.1);
}

.login-error-message {
  color: red;
  border: 2px solid red;
  padding: 0.5em;
  text-align: center;
}

// .row{
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   justify-content: space-between;
//   /*background-color: #D9D9D9;*/
//   height: 100%;
//   width: 50%;
// }

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 21em;
  margin: 2em;
}

.food-photo{
  width: 90%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.food-details {
  display: flex;
  /*flex-direction: row;*/
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.food-quantity{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #D9D9D9;
}

.food-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quantity {
  color: #B26B6B;
  font-size: 12px;
  background:  #D9D9D9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.dropdown-menu  {
  display: contents;
}

.dropdown-menu select{
  width: 100%;
  height: 100%;
  background:  #D9D9D9;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.order-button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #B26B6B;
  font-size: 12px;
  background:  #D9D9D9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.order-button:hover {
  background: #3c72fa;
  text-decoration: none;
  color: #ffffff;
}

.social-list {
  display: flex;
  flex-direction: column;
}

.social-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.soc-item {
  margin: 0 0.1rem 0.2rem 0.1rem;
  padding: 8px 11px 8px 12px;
  border: 2px solid #2626C3;
  border-radius: 50%;
}

.opening-time {
  display: flex;
  flex-direction: row;
}

div[aria-label="Page navigation example"] {
  margin-bottom: 2em;
}
